/* -------------------  GENERAL SITE STYLES --------------------- */

/* -------------------  MOBILE  --------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  min-height: 100vh;
}

header {
/*  background-image: url('https://via.placeholder.com/1150'); */
  background-image: url('https://static4.arrow.com/-/media/arrow/images/1400-x-1400/critical-components_image-1/f1-race-car.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-shadow: 3px 2px hsl(0, 2%, 51%);
  font-size: 70px;
  text-transform: uppercase;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  padding: 10px 0;
}

h3 {
  color: black;
  font-weight: normal;
  font-size: 25px;
}

h4 {
  color: #545454;
  font-weight: light;
  font-size: 20px;
}

p {
  color: black;
  font-weight: normal;
  font-size: 18px;
}

.button {
  width: 250px;
  padding: 20px 10px;
  background-color: green;
  cursor: pointer;
  border-radius: 4px;
  border-color: 1px solid green;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  display: block;
  text-align: center;
  text-decoration: none;
}

main {
  flex: 1;
}

section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 0;
}

footer {
  height: 200px;
  background-color: black;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
  header {
    height: 100vh;
  }
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
  header {
    height: 700px;
  }
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
  header {
    height: 700px;
  }
}

img {
  height: 75%;
}

/*  Flipping Card  */
/* The flip card container - adjust dimensions as needed */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Modify as desired or remove for a 2D effect */
}

/* Container for positioning front and back sides */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Horizontal flip on hover */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Front and back side positioning */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style for front side */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

/* Style for back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}